#print-area {
    width: 100%;
    min-height: 100vh;
    overflow: visible;
  }


  @media print {
    .no-print {
      display: none !important;
    }
  }

  .clickable-text {
    cursor: pointer;
  }
  
  .clickable-text:hover {
  }
  @page {
    size: A4 portrait;
    margin: 0mm;
  }
  
  @media print {
    body {
      margin: 0;
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  
    .print-area {
      width: 100% !important;
      max-width: 100% !important;
      margin: 0 auto;
    }
  }

  td {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
  }