@media print {
    @page {
      size: auto; /* auto is default, could also set size like A4 */
      margin: 0;  /* Remove margins - may remove headers/footers depending on browser */
    }
  
    body {
      margin: 0;
    }
  }