#print-area {
    width: 100%;
    min-height: 100vh;
    overflow: visible;
  }


  .qr-print {
  display: block;
  background: #fff;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  color-adjust: exact;
}

.qr-print svg {
  shape-rendering: crispEdges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  width: 130px !important;
  height: 130px !important;
  background: #fff;
  fill: #000000;
}

  @media print {
    .no-print {
      display: none !important;
    }

    .qr-print {
     -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  }

  .clickable-text {
    cursor: pointer;
  }
  
  .clickable-text:hover {
  }

  @media print {
    @page {
      size: 907px 1058px;
      margin: 0; /* Remove browser default margins */
    }
  
    body {
      margin: 0;
      padding: 0;
    }
  
    .container {
      width: 907px;
      height: 1058px;
      padding: 0px; /* Optional inner padding */
      box-sizing: border-box;
      page-break-after: always;
      overflow: hidden;
    }
  
    /* Optional: avoid text cutoff */
    * {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
    }
  }

    /*
  @media print {
    .container {
      page-break-inside: avoid;
      overflow: hidden;
      /*height: 1587px !important; /* exact A3 portrait height */
      /*outline: 2px dashed red;*/
     /* max-height: 1000px !important;*/
   /* }
  
    .container:not(:last-of-type) {
      page-break-after: always;
    }
  
    @page {
      size: A3 portrait;
      margin: 0mm;
    /*  max-height: 1000px !important;*/
   /* }
  }*/
  /*
  
  @media print {
    body {
      margin: 0;
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  
    .print-area {
      width: 100% !important;
      max-width: 100% !important;
      margin: 0 auto;
    }
  }
*/
  td {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
  }

  .invoice-table {
    border: 0.5px solid  black !important;
    border-collapse: collapse;
    width: 100%;
  }
  
  .invoice-table th,
  .invoice-table td {
    border: none;
    box-shadow: inset 0 0 0 0.5px black;
     padding: 4px;
  /*
    border: 0.5px solid  black !important;
    padding: 4px; /* optional for spacing */
    text-align: center; /* optional */
  }


  @media print {
    .invoice-table,
    .invoice-table td,
    .invoice-table th {
      border: 0.5px solid;
      box-shadow: inset 0 0 0 0.5px black;
      padding: 4px;
    }
  }
  
  .table-readable {
   /*font-family: 'Cairo', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;*/
    /*font-size: 14px;*/
   /* direction: rtl;*/ /* or ltr based on language */
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    background-color: #fff;
    color: #212529;
  }
  
  .print-value-new {
    /*font-size: 14px; */            /* Moderate size for clarity */
    font-weight: 600;            /* Slightly bold for emphasis */
    /*font-family: "Arial", sans-serif;*/ /* Clean, common font for printing */
    color: #000;                 /* Ensure it's black when printing */
    /*letter-spacing: 0.5px; */      /* Slight spacing for readability */
    line-height: 1.4;            /* Good line spacing */
  }



  .print-value-umluj {
    /*font-size: 14px; */            /* Moderate size for clarity */
    font-weight: 500;            /* Slightly bold for emphasis */
    /*font-family: "Arial", sans-serif;*/ /* Clean, common font for printing */
    color: #000;                 /* Ensure it's black when printing */
    /*letter-spacing: 0.5px; */      /* Slight spacing for readability */
    line-height: 1.4;            /* Good line spacing */
    word-break: break-word;      /* Prevents overflow */
    white-space: pre-wrap;       /* Preserves formatting and wraps text */
  }

  .print-label {
    /*font-size: 14px; */            /* Moderate size for clarity */
    font-weight: 600;            /* Slightly bold for emphasis */
    /*font-family: "Arial", sans-serif;*/ /* Clean, common font for printing */
    color: #000;                 /* Ensure it's black when printing */
    /*letter-spacing: 0.5px;  */     /* Slight spacing for readability */
    line-height: 1.4;         /* Good line spacing */
    word-break: break-word;      /* Prevents overflow */
    white-space: pre-wrap;       /* Preserves formatting and wraps text */
  }
  

  .print-table-value {
    /*font-size: 10px; */          /* Moderate size for clarity */
    font-weight: 600;            /* Slightly bold for emphasis */
   /* font-family: "Arial", sans-serif;*/ /* Clean, common font for printing */
    color: #000;                 /* Ensure it's black when printing */
    /*letter-spacing: 0.5px; */      /* Slight spacing for readability */
    line-height: 1.4;            /* Good line spacing */
    word-break: break-word;      /* Prevents overflow */
    white-space: pre-wrap;       /* Preserves formatting and wraps text */
  }
  

  .table-readable thead {
    background-color: #f8f9fa;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #dee2e6;
  }
  
  .table-readable th,
  .table-readable td {
    padding: 12px 16px;
    border-bottom: 1px solid #dee2e6;
    vertical-align: middle;
    text-align: center;
    line-height: 1.6;
  }
  
  .table-readable tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .table-readable td {
    word-break: break-word;
  }
  