.resizable-td {
    position: relative;
    padding: 10px;
    vertical-align: top;
  }
  
  .resize-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    bottom: 0;
    cursor: nwse-resize;
    background: #888;
    z-index: 2;
  }
  