/* At the very top of your CSS file (e.g., App.css) */
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Baloo+Bhaijaan+2&family=Cairo&family=Changa&family=El+Messiri&family=Harmattan&family=Lateef&family=Markazi+Text&family=Noto+Kufi+Arabic&family=Noto+Naskh+Arabic&family=Reem+Kufi&family=Scheherazade+New&family=Tajawal&family=Almarai&family=Amiri&display=swap');


/* Use the font globally or with a class */
body {
  font-family: 'Cairo', sans-serif;
}

.arabic-text {
  font-family: 'Cairo', sans-serif;
/*  direction: rtl;*/
  unicode-bidi: embed;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*
.table th {
  font-weight: bold;
  font-size: 0.53rem;
}*/

.table:not(.no-bold) td {
  font-weight: bold;
  font-size: 0.90rem;
}

.table:not(.no-bold) td button span {
  font-weight: bold;
  font-size: 0.90rem;
}

.table:not(.no-bold) thead input {
  min-width: 120px;
}